{% extends 'base.html.twig' %}

{% block title %}{% trans %}Display Student{% endtrans %}{% endblock %}

{% block subTitle %}
     {% if is_granted('ROLE_INTENDANT') or headmasterFees == 1 %}
        {% trans %}STUDENTS REGISTRATION MANAGMENT{% endtrans %}
     {% else %}
        {% trans %}STUDENTS MANAGMENT{% endtrans %}
     {% endif %}
{% endblock %}


{% block infoMessage %}
    {% include "includes/_info_message.html.twig" %}

    <form action="{{ path('registration_printSchoolFeesStatement') }}" method="post"  target="_blank">
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary btn-medium w-100 br-7" name="printSchoolFeesStatement">
                <i class="fa fa-print"></i>
            {% trans %}Print financial statements of all classes{% endtrans %}
            </button>
        </div>
    </form>
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}
	</style>
{% endblock %}

{% block body %}
<!-- App-Content -->
	<div class="hor-content main-content">
		<div class="container">
        
            <!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title mb-0 text-primary"> 
                        {% if is_granted('ROLE_INTENDANT') or headmasterFees == 1 %}
                            {% trans %}STUDENTS REGISTRATION MANAGMENT{% endtrans %}
                        {% else %}
                            {% trans %}STUDENTS MANAGMENT{% endtrans %}
                        {% endif %}</h4>
                </div>
                <div class="page-rightheader">
                    <div class="btn-list">
                        <button type="button" class="btn btn-primary form-control-sm">
                            <span>{% trans %}Total effective{% endtrans %}</span>
                            <span class="badge bg-white text-dark rounded-pill">{{ numberOfStudentInSchool }}</span>
                        </button>
                        {% if mySession.get('verrou').verrou is not null and mySession.get('verrou').verrou == 0 %}
                            <a href="{{ path('student_saveStudent') }}" class="btn btn-outline-primary" name="addNewStudent">
                                <i class="fa fa-user-plus"></i> {% trans %}Add new student{% endtrans %}
                            </a>
                                    
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--End Page header-->

            <div class="card border-primary">
                <div class="card-header">
                    
                        <div class="col-md-4">
                            <form action="{{ path('student_displayStudent', {'headmasterFees': headmasterFees}) }}" method="post">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <select class="form-control select2-show-search" data-placeholder="Choose a classroom" name="classroom" id="classroom" required style="border: 1px solid #0f0;">
                                                <option label="Choose a classroom">
                                                    {% trans %}Choose a classroom{% endtrans %}
                                                </option>
                                                {% if subSystem == 'Francophone / French Speaker' %}
                                                    {% if school.education.education == 'Général' %}
                                                        {% include "includes/_selectClassrooms.html.twig" %}
                                                        {% else %}
                                                            {% include "includes/_selectClassroomsTech.html.twig" %}
                                                    {% endif %}
                                                    {% else %}
                                                        {% include "includes/_selectClassroomsEn.html.twig" %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <button class="btn btn-outline-primary btn-medium w-100 br-7" type="submit" name="displayStudents">
                                                <i class="fa fa-eye"></i>
                                                {% trans %}Display{% endtrans %}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        <div class="col-md-4">
                            {% if students|length > 0 %}
                                <form action="{{ path('registration_printSchoolFeesStatement', {'idC': selectedClassroom.id}) }}" method="post" target="_blank">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary btn-medium w-100 br-7" name="printSchoolFeesStatement"><i class="fa fa-print"></i> 
                                        {% trans %}Print the class financial statement{% endtrans %}
                                        </button>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                            
                        {% if methodIsPost %}
                            <form action="#">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-primary">
                                            <span>{% trans %}Class{% endtrans %}</span>
                                            <span class="badge bg-white text-dark rounded-pill">{{ selectedClassroom.classroom }}</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-2"> 
                                <form action="#">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary">
                                            <span>{% trans %}Effective{% endtrans %}</span>
                                            <span class="badge bg-white text-dark rounded-pill">{{ students|length }}</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        {% if methodIsPost %}
                        <table border="1" class="table table-striped table-bordered text-nowrap" id="example-1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0 green-gradient">{% trans %}Photo{% endtrans %}</th>
                                    <th class="border-bottom-0 indigo-gradient">{% trans %}Full name{% endtrans %}</th>
                                    <th class="border-bottom-0 green-gradient">{% trans %}Birth{% endtrans %}</th>
                                    <th class="border-bottom-0 orange-gradient">{% trans %}Sex{% endtrans %}</th>
                                    <th class="border-bottom-0 indigo-gradient">{% trans %}Repeat{% endtrans %}</th>
                                    <th class="border-bottom-0 orange-gradient">{% trans %}Phone{% endtrans %}</th>
                                    {# si c'est l'admin qui est connecté #}
                                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROVISEUR') and headmasterFees == 0 %}
                                        {% if mySession.get('verrou').verrou is not null and mySession.get('verrou').verrou == 0 %}
                                            <th class="border-bottom-0 blue-gradient">{% trans %}Actions{% endtrans %}</th>
                                        {% endif %}
                                    {% endif %}
                                        {# si c'est l'intendant qui est conncté #}
                                    {% if is_granted('ROLE_INTENDANT') or headmasterFees == 1 %}
                                    <th class="border-bottom-0 blue-gradient">{% trans %}Sate{% endtrans %}</th>
                                    <th class="border-bottom-0 indigo-gradient">{% trans %}Fees{% endtrans %}</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th class="border-bottom-0 green-gradient">{% trans %}Photo{% endtrans %}</th>
                                    <th class="border-bottom-0 indigo-gradient">{% trans %}Full name{% endtrans %}</th>
                                    <th class="border-bottom-0 green-gradient">{% trans %}Birth{% endtrans %}</th>
                                    <th class="border-bottom-0 orange-gradient">{% trans %}Sex{% endtrans %}</th>
                                    <th class="border-bottom-0 indigo-gradient">{% trans %}Repeat{% endtrans %}</th>
                                    <th class="border-bottom-0 orange-gradient">{% trans %}Phone{% endtrans %}</th>
                                    {# si c'est l'admin qui est connecté #}
                                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROVISEUR') and headmasterFees == 0 %}
                                        {% if mySession.get('verrou').verrou is not null and mySession.get('verrou').verrou == 0 %}
                                            <th class="border-bottom-0 blue-gradient">{% trans %}Actions{% endtrans %}</th>
                                        {% endif %}
                                    {% endif %}
                                        {# si c'est l'intendant qui est conncté #}
                                    {% if is_granted('ROLE_INTENDANT') or headmasterFees == 1 %}
                                    <th class="border-bottom-0 blue-gradient">{% trans %}Sate{% endtrans %}</th>
                                    <th class="border-bottom-0 indigo-gradient">{% trans %}Fees{% endtrans %}</th>
                                    {% endif %}
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for student in students %}
                                    {% set registration = student.registration %}
                                <tr>
                                    <td style="vertical-align: middle; text-align:center;"><img src="{{ student.photo ? asset('images/students/' ~ student.photo) : asset('images/students/defaultPhoto.jpg')}}" alt="photo" width="50" height="60"></td>
                                    <td style="vertical-align: middle;">{{ student.fullName }} <br>
                                        {% if registration is not null %}
                                            {% if  
                                            registration.apeeFees + 
                                            registration.computerFees +
                                            registration.medicalBookletFees +
                                            registration.cleanSchoolFees +
                                            registration.photoFees == apeeFees + computerFees + 
                                            medicalBookletFees +
                                            cleanSchoolFees +
                                            photoFees %}

                                                <a href="{{ path('print_eschool_attendance_certificate',{'id': student.id}) }}" target="_blank" type="button" class="btn btn-outline-primary btn-sm "><i class="fa fa-print"></i> {% trans %}Print School attendance certificate{% endtrans %}</a>
                                                {% else %}
                                                    <a href="{{ path('print_eschool_attendance_certificate',{'id': student.id}) }}" target="_blank" type="button" class="btn btn-outline-danger btn-sm disabled">
                                                    <i class="fa fa-print"></i> {% trans %}Print School attendance certificate{% endtrans %}</a>

                                            {% endif %}
                                            {% else %}
                                                <a href="{{ path('print_eschool_attendance_certificate',{'id': student.id}) }}" target="_blank" type="button" class="btn btn-outline-danger btn-sm disabled">
                                                    <i class="fa fa-print"></i> {% trans %}Print School attendance certificate{% endtrans %}</a>
                                        {% endif %}
                                         <br>
                                                {% trans %}State Fees : {% endtrans %}
                                                {% if registration is not null %}
                                                    {% set pourcentage = ((
                                                    registration.apeeFees + 
                                                    registration.computerFees +
                                                    registration.medicalBookletFees +
                                                    registration.cleanSchoolFees +
                                                    registration.photoFees)/(apeeFees + computerFees + 
                                                    medicalBookletFees +
                                                    cleanSchoolFees +
                                                    photoFees)) * 100 %}
                                                    
                                                    {% if pourcentage >= 100 %}

                                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-green" style="width: 100%">{% trans %}Full paid{% endtrans %} </div>
                                                        {% else %}
                                                            {% if pourcentage < 26 %}
                                                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 20%">{% trans %}Not Full paid{% endtrans %} </div>
                                                                {% else %}
                                                                {% if pourcentage < 51 %}
                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 40%">{% trans %}Not Full paid{% endtrans %} </div>
                                                                    {% else %}
                                                                    {% if pourcentage < 75 %}
                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 60%">{% trans %}Not Full paid{% endtrans %} </div>
                                                                    {% else %}
                                                                    {% if pourcentage < 100 %}
                                                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width: 80%">{% trans %}Not Full paid{% endtrans %} </div>
                                                                    {% endif %}
                                                                {% endif %}
                                                            
                                                            {% endif %}
                                                            
                                                        {% endif %}
                                                            

                                                    {% endif %}

                                                    {% else %}
                                                    
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 10%">{% trans %}Empty{% endtrans %} </div>

                                                {% endif %}

                                    </td>
                                    <td style="vertical-align: middle;">{{ student.birthday|date('d-m-Y') }} à {{ student.birthplace }}</td>
                                    <td style="vertical-align: middle;">{{ student.sex.sex }}</td>
                                    <td style="vertical-align: middle;">{{ student.repeater.repeater }}</td>
                                    <td style="vertical-align: middle;">{{ student.telephone }}</td>
                                        {# si c'est l'admin qui est conncté #}
                                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROVISEUR') and headmasterFees == 0 %}
                                        {% if mySession.get('verrou').verrou is not null and mySession.get('verrou').verrou == 0 %}
                                            <td>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-6" style="vertical-align: middle;">
                                                        <form action="{{ path('student_editStudent', {'id': student.id}) }}" method="post" style="display: inline-block;">
                                                            <div class="form-group">
                                                                <button type="submit" class="btn btn-outline-primary" name="updateStudent" data-bs-toggle="tooltip" title="Modifier {{ student.fullName }}">
                                                                    <i class="fa fa-pencil-square-o"></i>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="col-6" style="vertical-align: middle;">
                                                        <form action="{{ path('student_deleteStudent', {'id': student.id}) }}" method="post" style="display: inline-block;" onsubmit="return confirm('{% trans %}-You really want to remove the student{% endtrans %} --- {{ student.fullName }} --- {% trans %}of the class of{% endtrans %} --- {{ selectedClassroom.classroom }} --- {% trans %}with all his notes, his hours of absence and his expenses ?{% endtrans %}');">
                                                            <button type="submit" class="btn btn-outline-danger" name="deleteStudent" data-bs-toggle="tooltip" title="{% trans %}Delete{% endtrans %} {{ student.fullName }}">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                
                                                
                                            </td>
                                        {% endif %}
                                    {% endif %}

                                    {# si c'est l'intendant qui est conncté #}  
                                        {% if is_granted('ROLE_INTENDANT') or headmasterFees == 1 %}
                                    <td>
                                        {% if registration is not null %}
                                            {% if registration.apeeFees + registration.computerFees + registration.medicalBookletFees + registration.cleanSchoolFees + registration.photoFees == apeeFees + computerFees + medicalBookletFees + cleanSchoolFees + photoFees %}

                                                <i style="color: #007f7f;" class="fa fa-fw fa-check-circle"></i>
                                                {% trans %}Full paid{% endtrans %} 
                                            {% else %}
                                                    <i style="color: #910000;" class="fa fa-fw fa-times-circle"></i>
                                                {% trans %}Not full paid{% endtrans %}
                                            {% endif %}
                                        {% else %}
                                                <i style="color: #910000;" class="fa fa-fw fa-times-circle"></i>
                                                {% trans %}Not full paid{% endtrans %}
                                        {% endif %}

                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-perso" href="{{ path('registration_schoolFees', {'idS': student.id, 'headmasterFees': headmasterFees}) }}">
                                        {% if headmasterFees == 1 %}
                                            {% trans %}See details{% endtrans %}
                                        {% else %}
                                            {% trans %}Manage fees{% endtrans %}
                                        {% endif %}
                                        </a>
                                    </td>
                                    {% endif %}
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
