{% extends 'base.html.twig' %}

{% block title %}{% trans %}Data collection sheet{% endtrans %}{% endblock %}

{% block subTitle %}
    {% trans %}DATA COLLECTION SHEET MANAGMENT{% endtrans %}
{% endblock %}
{% block infoMessage %}
    {% include "includes/_info_message.html.twig" %}
{% endblock %}
{% block body %}
<!-- App-Content -->
	<div class="hor-content main-content">
		<div class="container">
        
            <!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title mb-0 text-primary">
                        <i class="fa fa-database me-2"></i>{% trans %}Data collection{% endtrans %}
                    </h4>
                </div>
                <div class="page-rightheader">
                    <div class="btn-list">
                        
                    </div>
                </div>
            </div>
            <!--End Page header-->

            <div class="row">
                <div class="col-md-6">
                    <div class="card border-primary">
                        <div class="card-header">
                            <span class="page-title mb-0 text-primary">
                                <i class="fa fa-database me-2"></i>{% trans %}Summary of program coverage{% endtrans %}
                            </span>
                        </div>
                        <div class="card-body ">
                            <form action="{{ path('print_data_collection_sheet') }}" method="post" target="_blank">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select name="subject" id="subject" class="form-control select2-show-search" data-placeholder="Choose a subject" required>
                                                <option label="Choose a subject">{% trans %}Choose a subject{% endtrans %} </option>
                                                <option value="0">{% trans %}All Subjects{% endtrans %}</option>
                                                {% for subject in subjects %}
                                                    <option value="{{ subject.id }}">{{ subject.subject }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {# <select name="term" id="term" class="form-control select2 custom-select" data-placeholder="Choose a period" required> #}
                                                <select name="period" id="period" class="form-control select2-show-search" data-placeholder="Choose a period" required>
                                                    <option label="Choose a period">{% trans %}Choose a period{% endtrans %}</option>
                                                    <optgroup label="Evaluations">
                                                        {% for sequence in sequences %}
                                                            <option value="s{{ sequence.id }}">{% trans %}Evaluation{% endtrans %} {{ sequence.sequence }}</option>
                                                        {% endfor %}
                                                    </optgroup>
                                                    <optgroup label="Trimestres">
                                                        {% for term in terms %}
                                                            {% if term.term != annualTerm %}
                                                                <option value="t{{ term.id }}">{% trans %}Term{% endtrans %} {{ term.term }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </optgroup>
                                                        {% for term in terms %}
                                                            {% if term.term == annualTerm %}
                                                                <option value="a{{ term.id }}">{% trans %}Annual{% endtrans %}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <button class="btn btn-outline-primary btn-medium w-100 br-7" type="submit" name="printSlipPerSubject">
                                                <i class="fa fa-print"></i>
                                                {% trans %}Print{% endtrans %}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card border-primary">
                        <div class="card-header">
                            <span class="page-title mb-0 text-primary">
                                <i class="fa fa-database me-2"></i>{% trans %}Program coverage rate{% endtrans %}
                            </span>
                        </div>
                        <div class="card-body ">
                            <form action="{{ path('print_printFicheDeCollecteDesTauxDeCouvertureDesProgrammes') }}" method="post" target="_blank">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select name="subject" id="subject" class="form-control select2-show-search" data-placeholder="Choose a subject" required>
                                                <option label="Choose a subject">{% trans %}Choose a subject{% endtrans %} </option>
                                                <option value="0">{% trans %}All Subjects{% endtrans %}</option>
                                                {% for subject in subjects %}
                                                    <option value="{{ subject.id }}">{{ subject.subject }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {# <select name="term" id="term" class="form-control select2 custom-select" data-placeholder="Choose a period" required> #}
                                                <select name="period" id="period" class="form-control select2-show-search" data-placeholder="Choose a period" required>
                                                    <option label="Choose a period">{% trans %}Choose a period{% endtrans %}</option>
                                                    <optgroup label="Evaluations">
                                                        {% for sequence in sequences %}
                                                            <option value="s{{ sequence.id }}">{% trans %}Evaluation{% endtrans %} {{ sequence.sequence }}</option>
                                                        {% endfor %}
                                                    </optgroup>
                                                    <optgroup label="Trimestres">
                                                        {% for term in terms %}
                                                            {% if term.term != annualTerm %}
                                                                <option value="t{{ term.id }}">{% trans %}Term{% endtrans %} {{ term.term }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </optgroup>
                                                        {% for term in terms %}
                                                            {% if term.term == annualTerm %}
                                                                <option value="a{{ term.id }}">{% trans %}Annual{% endtrans %}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <button class="btn btn-outline-primary btn-medium w-100 br-7" type="submit" name="printSlipPerSubject">
                                                <i class="fa fa-print me-2"></i>
                                                {% trans %}Print{% endtrans %}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>

{% endblock %}
