{% if classrooms.level1|length > 0 %}
    <optgroup label="From 1">
        {% for classroom in  classrooms.level1 %}
        <option value="{{ classroom.id }}" 
            {% if selectedClassroom.id == classroom.id %}
                selected
            {% endif %}>
                {{ classroom.classroom }}
        </option>
        {% endfor %}
    </optgroup>
{% endif %}

{% if classrooms.level2|length > 0 %}
    <optgroup label="From 2">
        {% for classroom in  classrooms.level2 %}
        <option value="{{ classroom.id }}" 
            {% if selectedClassroom.id == classroom.id %}
                selected
            {% endif %}>
                {{ classroom.classroom }}
        </option>
        {% endfor %}
    </optgroup>
{% endif %}

{% if classrooms.level3|length > 0 %}
    <optgroup label="From 3">
        {% for classroom in  classrooms.level3 %}
        <option value="{{ classroom.id }}" 
            {% if selectedClassroom.id == classroom.id %}
                selected
            {% endif %}>
                {{ classroom.classroom }}
        </option>
        {% endfor %}
    </optgroup>
{% endif %}

{% if classrooms.level4|length > 0 %}
    <optgroup label="From 4">
        {% for classroom in  classrooms.level4 %}
        <option value="{{ classroom.id }}" 
            {% if selectedClassroom.id == classroom.id %}
                selected
            {% endif %}>
                {{ classroom.classroom }}
        </option>
        {% endfor %}
    </optgroup>
{% endif %}

{% if classrooms.level5|length > 0 %}
    <optgroup label="From 5">
        {% for classroom in  classrooms.level5 %}
        <option value="{{ classroom.id }}" 
            {% if selectedClassroom.id == classroom.id %}
                selected
            {% endif %}>
                {{ classroom.classroom }}
        </option>
        {% endfor %}
    </optgroup>
{% endif %}

{% if classrooms.level6|length > 0 %}
    <optgroup label="Lower 6">
        {% for classroom in  classrooms.level6 %}
        <option value="{{ classroom.id }}" 
            {% if selectedClassroom.id == classroom.id %}
                selected
            {% endif %}>
                {{ classroom.classroom }}
        </option>
        {% endfor %}
    </optgroup>
{% endif %}

{% if classrooms.level7|length > 0 %}
    <optgroup label="Upper 6">
        {% for classroom in  classrooms.level7 %}
        <option value="{{ classroom.id }}" 
            {% if selectedClassroom.id == classroom.id %}
                selected
            {% endif %}>
                {{ classroom.classroom }}
        </option>
        {% endfor %}
    </optgroup>
{% endif %}