{% extends 'base.html.twig' %}

{% block title %}{% trans %}Reference register{% endtrans %}{% endblock %}

{% block subTitle %}
    {% if pv == 0 %}
    {% trans %}REFERENCE REGISTER MANAGMENT{% endtrans %}
    {% else %}
    {% trans %}MINUTES MANAGMENT{% endtrans %}
    {% endif %}
{% endblock %}

{% block body %}
<!-- App-Content -->
	<div class="hor-content main-content">
		<div class="container">
        
            <!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title mb-0 text-primary"></h4>
                </div>
                <div class="page-rightheader">
                    <div class="btn-list">
                        
                    </div>
                </div>
            </div>
            <!--End Page header-->

            <div class="card border-primary">
                <div class="card-header">
                    <span class="page-title mb-0 text-primary">
                    <i class="fa fa-book me-2"></i>
                        {% if pv == 0 %}
                            {% trans %}Reference register printing{% endtrans %}
                        {% else %}
                            {% trans %}Minutes printing{% endtrans %}
                        {% endif %}
                    </span>
                </div>
                <div class="card-body pt-5 ">
                    <form action="{{ path('register_and_list_printReferenceRegister', {'pv': pv}) }}" method="post" target="_blank">
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="classroom" id="classroom" class="form-control select2-show-search" data-placeholder="Choose a classroom" required>
                                        <option label="Choose a classroom">
                                            {% trans %}Choose a classroom{% endtrans %}
                                        </option>
                                        {% if is_granted('ROLE_PROVISEUR') or is_granted('ROLE_ADMIN') or is_granted ('ROLE_SUPER_ADMIN') %}
                                        <option value="0">{% trans %}All the classrooms{% endtrans %}</option>
                                        {% endif %}

                                        {% if subSystem == 'Francophone / French Speaker' %}
                                            {% if school.education.education == 'Général' %}
                                                {% include "includes/_selectClassroomsWithoutSelected.html.twig" %}
                                                {% else %}
                                                    {% include "includes/_selectClassroomsWithoutSelectedTech.html.twig" %}
                                            {% endif %}
                                            {% else %}
                                                {% include "includes/_selectClassroomsWithoutSelectedEn.html.twig" %}
                                        {% endif %}

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select name="period" id="period" class="form-control select2-show-search" data-placeholder="Choose a period" required>
                                        <option label="Choose a period">
                                            {% trans %}Choose a period{% endtrans %}
                                        </option>
                                        <optgroup label="Evaluations">
                                            {% for sequence in sequences %}
                                                <option value="s{{ sequence.id }}">{% trans %}Evaluation{% endtrans %} {{ sequence.sequence }}</option>
                                            {% endfor %}
                                        </optgroup>
                                        <optgroup label="Trimestres">
                                            {% for term in terms %}
                                                {% if term.term != annualTerm %}
                                                    <option value="t{{ term.id }}">{% trans %}Term{% endtrans %} {{ term.term }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </optgroup>
                                            {% for term in terms %}
                                                {% if term.term == annualTerm %}
                                                    <option value="a{{ term.id }}">{% trans %}Annual{% endtrans %}</option>
                                                {% endif %}
                                            {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button class="btn btn-outline-primary btn-medium w-100 br-7" type="submit" name="printReferenceRegister">
                                        <i class="fa fa-print"></i>
                                        {% trans %}Print{% endtrans %}</button>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
