{% extends 'base.html.twig' %}

{% block title %}
    {% if slug == 0 %}
        {% trans %}Save Subject{% endtrans %}
        {% else %}
        {% trans %}Edit Subject{% endtrans %}
    {% endif %}
{% endblock %}
{% block subTitle %}
    {% if slug != 0 %}
        {% trans %}UPDATING SUBJECT{% endtrans %}
    {% else %}
        {% trans %}ADDING NEW SUBJECT{% endtrans %}
    {% endif %}
{% endblock %}
{% block infoMessage %}
    {% include "includes/_info_message.html.twig" %}
{% endblock %}

{% block body %}
 <!-- App-Content -->
	<div class="hor-content main-content">
		<div class="container">
        
            <!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title mb-0 text-primary">
                        {% if slug != 0 %}
                            <i class="fa fa-edit me-2"></i>{% trans %}UPDATING SUBJECT{% endtrans %}
                        {% else %}
                            <i class="fa fa-plus me-2"></i>{% trans %}ADDING NEW SUBJECT{% endtrans %}
                        {% endif %}
                    </h4>
                </div>
                <div class="page-rightheader">
                    <div class="btn-list">
                        <a href="{{ path('subject_displaySubject') }}" class="btn btn-outline-primary">
                            <i class="fa fa-list"></i>
                            {% trans %}Display registered subjects{% endtrans %}
                        </a>
                    </div>
                </div>
            </div>
            <!--End Page header-->
            {% if slug == 0 %}
                <div class="card border-primary">
                {% else %}
                <div class="card border-danger">
            {% endif %}
                <div class="card-header">
                    {# ligne afficher les subjects #}
                
                            <div class="col-md-5 text-left">
                                <button type="button" class="btn btn-primary  mt-1 mb-1 me-3 form-control-sm">
                                    <span><i class="fa fa-book me-2"></i>{% trans %}Number of registered departments{% endtrans %}</span>
                                    <span class="badge bg-white text-dark rounded-pill">{{ subjects|length }}</span>
                                </button>
                            </div>
                            <div class="col-md-4 text-right">
                                
                            </div>
                   
                    {# Fin ligne afficher les subjects #}
                </div>
                <div class="card-body ">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(formSubject, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}}) }}
                                <div class="row mb-3 mt-3">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ form_row(formSubject.subject, {'attr': {'class': 'form-control form-control-sm', 'id':'validationCustom01'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            {{ form_row(formSubject.category, {'attr': {'class': 'form-control select2 custom-select', 'id':'validationCustom01'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            {{ form_row(formSubject.department, {'attr': {'class': 'form-control select2-show-search', 'id':'validationCustom01'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label style="color: #fff;">
                                                {% trans %}Save{% endtrans %}
                                            </label>
                                                {% if slug == 0 %}
                                                    <button type="submit" class="btn btn-outline-primary btn-medium w-100 br-7" name="addSubject">
                                                        <i class="fa fa-save"></i>
                                                        {% trans %}Save{% endtrans %}
                                                    </button>
                                                {% else %}
                                                    <button type="submit" class="btn btn-outline-primary btn-medium w-100 br-7" name="editSubject">
                                                        <i class="fa fa-save"></i>
                                                        {% trans %}Save changes{% endtrans %}
                                                    </button>
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                            {{ form_end(formSubject) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
