<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<!-- Meta data -->
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta content="Azea - Admin Panel HTML template" name="description">
		<meta content="Spruko Private Limited" name="author">
		<meta name="keywords" content="admin, admin template, dashboard, admin dashboard, responsive, bootstrap, bootstrap 5, admin theme, admin themes, bootstrap admin template, scss, ui, crm, modern, flat">

		<!-- Title -->
		<title>{% block title %}{% endblock %}</title>

		<!--Favicon -->
		<link rel="icon" href="{{asset('build/custom2/images/brand/favicon.png')}}" type="image/x-icon"/>

		<!--Bootstrap css -->
		<link href="{{asset('build/custom2/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

		<!-- Style css -->
		<link href="{{asset('build/custom2/css/style.css')}}" rel="stylesheet" />
		<link href="{{asset('build/custom2/css/dark.css')}}" rel="stylesheet" />
		<link href="{{asset('build/custom2/css/skin-modes.css')}}" rel="stylesheet" />

		<!-- Animate css -->
		<link href="{{asset('build/custom2/css/animated.css')}}" rel="stylesheet" />

		<!-- P-scroll bar css-->
		<link href="{{asset('build/custom2/plugins/p-scrollbar/p-scrollbar.css')}}" rel="stylesheet" />

		<!---Icons css-->
		<link href="{{asset('build/custom2/css/icons.css')}}" rel="stylesheet" />

		<!-- Simplebar css -->
		<link rel="stylesheet" href="{{asset('build/custom2/plugins/simplebar/css/simplebar.css')}}">

		<!-- INTERNAL Morris Charts css -->
		<link href="{{asset('build/custom2/plugins/morris/morris.css')}}" rel="stylesheet" />

		<!-- INTERNAL Select2 css -->
		<link href="{{asset('build/custom2/plugins/select2/select2.min.css')}}" rel="stylesheet" />

		<!-- Data table css -->
		<link href="{{asset('build/custom2/plugins/datatables/DataTables/css/dataTables.bootstrap4.min.css')}}" rel="stylesheet" />
		<link href="{{asset('build/custom2/plugins/datatables/Responsive/css/responsive.bootstrap4.min.css')}}" rel="stylesheet" />

		<!-- Data table css -->
		<link href="{{asset('build/custom2/plugins/datatables/DataTables/css/dataTables.bootstrap5.css')}}" rel="stylesheet" />
		<link href="{{asset('build/custom2/datatables/Buttons/css/buttons.bootstrap5.min.css')}}"  rel="stylesheet">
		<link href="{{asset('build/custom2/plugins/datatables/Responsive/css/responsive.bootstrap5.min.css')}}" rel="stylesheet" />

	    <!-- Color Skin css -->
		<link id="theme" href="{{asset('build/custom2/colors/color1.css')}}" rel="stylesheet" type="text/css"/>

		<!-- INTERNAL Switcher css -->
		<link href="{{asset('build/custom2/switcher/css/switcher.css')}}" rel="stylesheet"/>
		<link href="{{asset('build/custom2/switcher/demo.css')}}" rel="stylesheet"/>

		<!-- INTERNAL File Uploads css -->
		<link href="{{asset('build/custom2/plugins/fancyuploder/fancy_fileupload.css')}}" rel="stylesheet" />

		<!-- INTERNAL File Uploads css-->
        <link href="{{asset('build/custom2/plugins/fileupload/css/fileupload.css')}}" rel="stylesheet" type="text/css" />

		{% if notification is defined or notificationUpdate is defined or notificationDelete is defined or notificationError is defined or notificationPassword is defined or notificationUser is defined %}
			
		<link href="{{asset('build/custom2/assets/plugins/notify/css/notifIt.css')}}" rel="stylesheet"/> {% endif %}
		<style>
			.blue-gradient, .green-gradient, .orange-gradient, .indigo-gradient
			{
				color: #fff !important;
				font-weight: bold !important;
			}
			.blue-gradient
			{
				background-image: linear-gradient(to right, #5b73e8, #44c4fa);
			}
			.green-gradient
			{
				background-image: linear-gradient(to right, #1D976C, #2fd38a);
			}

			.orange-gradient
			{
				background-image: linear-gradient(to right, #fa5420, #f6a800);
			}

			.indigo-gradient
			{
				background-image: linear-gradient(to right, #664dc9, #9884ea) !important;
			}

			body
			{
				background: #f8f8f8 url(/freeschool2/public/build/custom2/images/pattern.jpg) repeat;
			}
			.
			{
				background: #f8f8f8 url(/freeschool2/public/build/custom2/images/pattern.jpg) repeat;
				padding: 1%;
				
			}
			tr:hover{
				background-color: rgba(62, 128, 235, 0.2) !important;
				color: #3e80eb !important;
			}
			.card{
				border: 1px solid #664dc9 !important;
			}
			.card-header{
				border-bottom: 1px solid #664dc9 !important;
			}
			.my-card-header{
				border-bottom: 1px solid #664dc9 !important;
				background: transparent;
				padding: 0.5rem 1.5rem;
				min-height: 3.5rem;
				align-items: center;
				margin-bottom: 0;
				position: relative;
			}
			.my-fieldset{
				border: 1px solid #ccc; 
				padding: 0.5rem 1.5rem;
			}
			.defaultHidden{
				display: none;
			}


		</style>

		{% block stylesheets %}{% endblock %}

	</head>

	<body class="app">
		{# On recupère la session #}
		{% set mySession = app.session.get('mySession') %}
		{% set currentSchoolYear = "Since 2019" %}
		{% set schoolName = "FREESCHOOL" %}

		{% set currentUser = app.user %}

		{% if mySession is not null %}
			{# On recupère l'année en cours dans la session #}
			{% if mySession.schoolYear is not null %}
				{% set currentSchoolYear = mySession.schoolYear.schoolYear %}
			{% endif %}
			{# On recupère le nom de l'établissement francophone ou anglophone #}
			{% if  mySession.school is not null %}
				{% if app.request.locale == 'fr' %}
					{% set schoolName = mySession.school.frenchName %}
					{% elseif app.request.locale == 'en' %}
					{% set schoolName = mySession.school.englishName %}
				{% endif %}
				
			{% endif %}
		{% endif %}

		<!---Global-loader-->
		<div id="global-loader" >
			<img src="{{asset('build/custom2/images/svgs/loader.svg')}}" alt="loader">
		</div>
		<!--- End Global-loader-->

		<!-- Page -->
		<div class="page">
			<div class="page-main">

				<!--app header-->
				<div class="hor-header header top-header">
					<div class="container">
						<div class="d-flex">
							<a class="animated-arrow hor-toggle horizontal-navtoggle"><span></span></a>
							<a class="header-brand" href="index.html">
								<img src="{{asset('build/custom2/images/brand/logo_white.png')}}" class="header-brand-img desktop-lgo" alt="Freedom logo">
								<img src="{{asset('build/custom2/images/brand/logo_white.png')}}" class="header-brand-img dark-logo" alt="Azea logo">
								<img src="{{asset('build/custom2/images/brand/favicon.png')}}" class="header-brand-img mobile-logo" alt="Azea logo">
								<img src="{{asset('build/custom2/images/brand/favicon1.png')}}" class="header-brand-img darkmobile-logo" alt="Azea logo">
							</a>
							<div class="mt-1 d-md-block d-none">
								<form class="form-inline">
									<div
										class="search-element">
										{# <input type="search" class="form-control header-search mobile-view-search" placeholder="SYSTEME DE GESTION DES EXAMENS" aria-label="Search" tabindex="1" disabled> #}
										<h3 class="page-title mb-0 text-primary" style="margin-top:13px; font-size: 35px; text-align:center; text-shadow: 2px 2px 3px #91B539;"><b>{{ schoolName }} - {{ currentSchoolYear }}</b></h3>

									</div>
								</form>
							</div>
							<!-- SEARCH --><!-- SEARCH -->
							<div class="d-flex order-lg-2 ms-auto main-header-end">
								<button  class="navbar-toggler navresponsive-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="true" aria-label="Toggle navigation">
									<i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
								</button>
								<div class="navbar navbar-expand-lg navbar-collapse responsive-navbar p-0">
									<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
										<div class="d-flex order-lg-2">
											<div class="dropdown d-lg-none d-flex responsive-search">
												<a href="javascript:void(0);" class="nav-link icon" data-bs-toggle="dropdown">
													<svg xmlns="http://www.w3.org/2000/svg" class="header-icon search-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"/></svg>
												</a>
												<div class="dropdown-menu header-search dropdown-menu-start">
													<div class="input-group w-100 p-2">
														<input type="text" class="form-control" placeholder="Search....">
														<button class="btn btn-primary-color" type="submit">
															<svg xmlns="http://www.w3.org/2000/svg" class="header-icon search-icon p-1 mt-1" width="24" height="24" viewBox="0 0 24 24"><path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"/></svg>
														</button>
													</div>
												</div>
											</div><!-- SEARCH -->
											<div class="dropdown d-flex">
												<a class="nav-link icon theme-layout nav-link-bg layout-setting">
													<span class="light-layout"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z"/></svg></span>
													<span class="dark-layout"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z"/></svg></span>
												</a>
											</div><!-- Theme-Layout -->
											<div class="dropdown  header-fullscreen d-flex" >
												<a  class="nav-link icon full-screen-link p-0"  id="fullscreen-button">
													<svg xmlns="http://www.w3.org/2000/svg" class="header-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M5 5h5V3H3v7h2zm5 14H5v-5H3v7h7zm11-5h-2v5h-5v2h7zm-2-4h2V3h-7v2h5z"/></svg>
												</a>
											</div>
											<div class="dropdown country-selector d-flex">
												<a href="javascript:void(0);" class="nav-link leading-none" data-bs-toggle="dropdown">
													<span class="header-avatar1">
													{% if app.request.locale == 'fr' %}
														<img src="{{asset('build/custom2/images/french_flag.jpg')}}" alt="img" class="me-2 country">
														{% elseif app.request.locale == 'en' %}
														<img src="{{asset('build/custom2/images/us_flag.jpg')}}" alt="img" class="me-2 country">
													{% endif %}
														<span class="fs-14 font-weight-semibold">{% trans %}Langue{% endtrans %} </span>
													</span>
												</a>
												<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow animated">
												{% for locale in locales %}
														{% if locale == 'fr' %}
														<a class="dropdown-item d-flex" href="{{ path('translation_changeLocale', {'locale': locale}) }}">
														<img src="{{asset('build/custom2/images/french_flag.jpg')}}" alt="img" class="me-2 country mt-1">
														<span class="fs-13">{% trans %}Français{% endtrans %} </span>
														</a>
														{% endif %}

														{% if locale == 'en' %}
															<a class="dropdown-item d-flex" href="{{ path('translation_changeLocale', {'locale': locale}) }}">
															<img src="{{asset('build/custom2/images/us_flag.jpg')}}" alt="img" class="me-2 country mt-1">
															<span class="fs-13">{% trans %}Anglais{% endtrans %} </span>
															</a>
														{% endif %}
													
												{% endfor %}
												</div>
											</div>
											
											

											<div class="dropdown profile-dropdown d-flex">
												<a href="javascript:void(0);" class="nav-link pe-0 leading-none" data-bs-toggle="dropdown">
													<span class="header-avatar1">
														{# <img src="{{asset('build/custom2/images/users/2.jpg" alt="img')}}" class="avatar avatar-md brround"> #}
														<svg class="header-icon me-2" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM7.07 18.28c.43-.9 3.05-1.78 4.93-1.78s4.51.88 4.93 1.78C15.57 19.36 13.86 20 12 20s-3.57-.64-4.93-1.72zm11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33C4.62 15.49 4 13.82 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.49-1.64 4.83zM12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6zm0 5c-.83 0-1.5-.67-1.5-1.5S11.17 8 12 8s1.5.67 1.5 1.5S12.83 11 12 11z"/></svg>

														{{ currentUser ? currentUser.fullName : 'Anonyme'}}
														 
													</span>
													
												</a>
												{% if currentUser %}
												<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow animated">
													<a class="dropdown-item d-flex" href="{{path('user_connected_changePassword', {'id': app.user.id})}}">

														<svg class="header-icon me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
															<path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
															<path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
														  </svg>

														<div class="fs-13"> {% trans %}Edit my password{% endtrans %} </div>
													</a>


													<a class="dropdown-item d-flex" href="{{path('app_logout')}}">

														<svg class="header-icon me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
															<path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
															<path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
														  </svg>
														<div class="fs-13"> {% trans %}Sign Out{% endtrans %} </div>
													</a>
												</div>
												{% endif %}

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/app header-->

				{% if home is not defined %}
					<!--/Horizontal-main -->
					<div class="sticky">
						<div class="horizontal-main hor-menu clearfix">
							<div class="horizontal-mainwrapper container clearfix">
								<nav class="horizontalMenu clearfix">
									<ul class="horizontalMenu-list">
										<li aria-haspopup="true">
											<a href="{{ path('home_dashboard') }}" class="sub-icon">
												<svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" width="24" height="24" viewBox="0 0 24 24"><path d="M3 13h1v7c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-7h1a1 1 0 0 0 .707-1.707l-9-9a.999.999 0 0 0-1.414 0l-9 9A1 1 0 0 0 3 13zm7 7v-5h4v5h-4zm2-15.586 6 6V15l.001 5H16v-5c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v5H6v-9.586l6-6z"/></svg>
											</a>
										</li>

										{% if is_granted('ROLE_PROVISEUR') or is_granted('ROLE_ADMIN') or is_granted('ROLE_CENSEUR')  or is_granted('ROLE_SECRETAIRE') %}
											{% if not is_granted('ROLE_SURVEILLANT') %}
												<li aria-haspopup="true">
													<a href="javascript:void(0);" class="sub-icon">
														<svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
															<path d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z"/>
															<path d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z"/>
															<path d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z"/>
														</svg>

														<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" viewBox="0 0 0 0"></svg>

														{% trans %}Data{% endtrans %} <i class="fa fa-angle-down horizontal-icon"></i>
													</a>
													<div class="horizontal-megamenu clearfix">
														<div class="container">
															<div class="mega-menubg">
																<div class="row">
																	<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																		<ul>
																			<li aria-haspopup="true"><a href="{{ path('grade_displayGrade') }}"><i class="fa fa-paper-plane"></i>{% trans %}Ranks{% endtrans %}</a></li>
																			<li aria-haspopup="true"><a href="{{ path('diploma_displayDiploma') }}"><i class="fa fa-mortar-board"></i>{% trans %}Diplomas{% endtrans %}</a></li>
																		</ul>
																	</div>
																	<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																		<ul>
																			<li aria-haspopup="true"><a href="{{ path('teacher_displayTeacher') }}"><i class="fa fa-group"></i>{% trans %}Staff{% endtrans %}</a></li>

																			<li aria-haspopup="true"><a href="{{ path('student_displayStudent') }}"><i class="fa fa-group"></i>{% trans %}Students{% endtrans %}</a></li>
																		</ul>
																	</div>

																	<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																		<ul>
																			<li aria-haspopup="true"><a href="{{ path('department_displayDepartment') }}"><i class="fa fa-th"></i>{% trans %}Departments{% endtrans %}</a></li>

																			<li aria-haspopup="true"><a href="{{ path('subject_displaySubject') }}"><i class="fa fa-book"></i>{% trans %}Subject{% endtrans %}</a></li>
																		</ul>
																	</div>

																	<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																		<ul>
																			<li aria-haspopup="true"><a href="{{ path('classroom_displayClassroom') }}"><i class="fa fa-building"></i>{% trans %}Classes{% endtrans %}</a></li>

																			<li aria-haspopup="true"><a href="{{ path('lesson_displayLesson') }}"><i class="fa fa-briefcase"></i>{% trans %}Courses{% endtrans %}</a></li>
																		</ul>
																	</div>
																	{# <div class="col-lg-2 col-md-12 col-xs-12 link-list">
																		<ul>
																			<li aria-haspopup="true"><a href="{{ path('lesson_done') }}">
																				<i class="fa fa-check"></i>
																				{% trans %}Validation of lessons learned{% endtrans %}</a>
																			</li>
																		</ul>
																	</div> #}

																	<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																		<ul>
																			{% if is_granted('ROLE_PROVISEUR') or is_granted('ROLE_ADMIN') %}

																			<li aria-haspopup="true"><a href="{{ path('fees_updateFees') }}"><i class="fa fa-dollar"></i>{% trans %}Fees{% endtrans %}</a></li>

																			<li aria-haspopup="true"><a href="{{ path('school_editSchool') }}"><i class="fa fa-building"></i>{% trans %}Establishment{% endtrans %}</a></li>
																			{% endif %}
																		</ul>
																	</div>

																	<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																		<ul>
																			{% if is_granted('ROLE_PROVISEUR') or is_granted('ROLE_ADMIN') %}

																			{% endif %}
																		</ul>
																	</div>

																</div>
															</div>
														</div>
													</div>
												</li>
											{% endif %}

											{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROVISEUR') or is_granted('ROLE_CENSEUR')  or is_granted('ROLE_SECRETAIRE') %}
												<li aria-haspopup="true">
													<a href="javascript:void(0);" class="sub-icon">
														<svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
															<path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
															<path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
														</svg>
		
														<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" viewBox="0 0 0 0"></svg>
														{% trans %}Report and school cards{% endtrans %} <i class="fa fa-angle-down horizontal-icon"></i>
													</a>
													<ul class="sub-menu">
														<li aria-haspopup="true"><a href="{{ path('report_report') }}">
															<i class="fa fa-file-text-o"></i>
															{% trans %}Report{% endtrans %}</a></li>
														<li aria-haspopup="true"><a href="{{ path('report_rollOfHonor') }}">
															<i class="si si-badge"></i>
															{% trans %}Honor rolls{% endtrans %}</a></li>
														<li aria-haspopup="true"><a href="{{ path('report_studentCard') }}">
															<i class="fa fa-address-card-o"></i>
															{% trans %}School cards{% endtrans %}</a></li>
													</ul>
												</li>
											{% endif %}

											<li aria-haspopup="true">
												<a href="javascript:void(0);" class="sub-icon">
													<svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
														<path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
													</svg>

													<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" viewBox="0 0 0 0"></svg>
													{% trans %}Statistics{% endtrans %} <i class="fa fa-angle-down horizontal-icon"></i>
												</a>
												<ul class="sub-menu">

													<li aria-haspopup="true"><a href="{{ path('statistic_rateOfPresencePerClass') }}">
														<i class="fa fa-table"></i>
														{% trans %}Student attendance status{% endtrans %}</a></li>

													{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROVISEUR') or is_granted('ROLE_CENSEUR') or is_granted('ROLE_SECRETAIRE') %}
														<li aria-haspopup="true"><a href="{{ path('statistic_printDeliberationRecap')}}" target="_blank">
															<i class="fa fa-table"></i>{% trans %}Status of deliberations{% endtrans %}</a></li>

														<li aria-haspopup="true"><a href="{{ path('statistic_slipPerSubject') }}">
															<i class="fa fa-bar-chart"></i>{% trans %}Statistical sheets by subject{% endtrans %}</a></li>

														<li aria-haspopup="true"><a href="{{ path('statistic_classCouncil') }}">
															<i class="fa fa-file-pdf-o"></i>{% trans %}Class council sheets{% endtrans %}</a></li>

														<li aria-haspopup="true"><a href="{{ path('statistic_rateOfSuccessPerClass') }}">
															<i class="fa fa-percent"></i>{% trans %}Success rate by class{% endtrans %}</a>
														</li>

														{# <li aria-haspopup="true"><a href="{{ path('data_collection_sheet') }}">
															<i class="fa fa-database"></i>{% trans %}Data collection sheet{% endtrans %}</a>
														</li>

														<li aria-haspopup="true"><a href="{{ path('pedagogical_summary_sheet') }}">
															<i class="fa fa-database"></i>{% trans %}Pedagogical summary sheet{% endtrans %}</a>
														</li> #}
													{% endif %}

												</ul>
											</li>
											<li aria-haspopup="true">
												<a href="javascript:void(0);" class="sub-icon">
													<svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
														<path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z"/>
														<path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
														<path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
													</svg>
													<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" viewBox="0 0 0 0"></svg>
													{% trans %}Registers and lists{% endtrans %} <i class="fa fa-angle-down horizontal-icon"></i>
												</a>
												<ul class="sub-menu">
													<li aria-haspopup="true" class="sub-menu-sub"><a href="javascript:void(0);">
														<i class="fa fa-file-pdf-o"></i>{% trans %}Lists{% endtrans %}</a>
														<ul class="sub-menu">
															<li aria-haspopup="true"><a href="{{ path('register_and_list_printAllStudentList') }}" target="_blank">
																<i class="fa fa-list"></i>{% trans %}List of students{% endtrans %}</a></li>

															<li aria-haspopup="true"><a href="{{ path('register_and_list_studentList') }}">
																	<i class="fa fa-list"></i>{% trans %}List of students per classroom{% endtrans %}</a></li>

															<li aria-haspopup="true"><a href="{{ path('register_and_list_studentResponsabilityList') }}" target="_blank">
																<i class="fa fa-list"></i>{% trans %}List of class leaders{% endtrans %}</a></li>

															{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROVISEUR') or is_granted('ROLE_CENSEUR') or is_granted('ROLE_SECRETAIRE') %}

															<li aria-haspopup="true"><a href="{{ path('register_and_list_printSchoolStructure', {'staff': 1}) }}" target="_blank">
																<i class="fa fa-list"></i>{% trans %}Personnel list{% endtrans %}</a></li>

															<li aria-haspopup="true"><a href="{{ path('register_and_list_educationalFacilitatorList') }}" target="_blank">
																<i class="fa fa-list"></i>{% trans %}List of APs{% endtrans %}</a></li>
															
															<li aria-haspopup="true"><a href="{{ path('register_and_list_bestStudentsPerClass') }}">
																<i class="si si-badge"></i>{% trans %}List of first{% endtrans %}</a></li>
															{% endif %}

														</ul>
													</li>
													<li aria-haspopup="true" class="sub-menu-sub"><a href="javascript:void(0);">
														<i class="fa fa-group"></i>Effective</a>
														<ul class="sub-menu">
															<li aria-haspopup="true"><a href="{{ path('headmaster_countTeachers') }}" target="_blank">
																<i class="fa fa-group"></i>{% trans %}Effective of staff{% endtrans %}</a></li>

															<li aria-haspopup="true"><a href="{{ path('headmaster_printStudentAge') }}" target="_blank">
																<i class="fa fa-group"></i>{% trans %}Number of students by age group{% endtrans %}</a></li>
														</ul>
													</li>
													<li aria-haspopup="true" class="sub-menu-sub"><a href="javascript:void(0);">
														<i class="fa fa-pencil"></i>{% trans %}Statements{% endtrans %}</a>
														<ul class="sub-menu">
															<li aria-haspopup="true"><a href="{{ path('register_and_list_markReport') }}">
																<i class="fa fa-pencil"></i>{% trans %}Transcripts{% endtrans %}</a></li>

															<li aria-haspopup="true"><a href="{{ path('register_and_list_absenceReport') }}">
																<i class="fa fa-pencil"></i>{% trans %}Records of hours of absence{% endtrans %}</a></li>
														</ul>
													</li>

													{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROVISEUR') or is_granted('ROLE_CENSEUR') %}

													<li aria-haspopup="true"><a href="{{ path('register_and_list_printSchoolStructure') }}" target="_blank">
														<i class="fa fa-building-o"></i>{% trans %}Structure of the establishment{% endtrans %}</a></li>

													<li aria-haspopup="true"><a href="{{ path('register_and_list_referenceRegister') }}">
														<i class="fa fa-book"></i>{% trans %}Reference registers{% endtrans %}</a></li>

													<li aria-haspopup="true"><a href="{{ path('register_and_list_referenceRegister', {'pv': 1}) }}">
														<i class="fa fa-book"></i>{% trans %}Minutes of notes{% endtrans %}</a></li>
													{% endif %}
												</ul>
											</li>

											{% if is_granted('ROLE_SURVEILLANT') %}
												<li aria-haspopup="true">
													<a href="{{ path('absence_absenceRecorder', {'id': app.user.teacher.id}) }}" >
														<svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
															<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
															<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
														</svg>


														<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" viewBox="0 0 0 0"></svg>
														{% trans %}Absence Recorder{% endtrans %} 
													</a>
												</li>
											{% endif %}

											{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROVISEUR') %}
												<li aria-haspopup="true">
													<a href="javascript:void(0);" class="sub-icon">
														<svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
															<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
															<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
														</svg>
														<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" viewBox="0 0 0 0"></svg>
														{% trans %}Marks and absences{% endtrans %}<i class="fa fa-angle-down horizontal-icon"></i>
													</a>
													<ul class="sub-menu">
														<li aria-haspopup="true"><a  href="{{ path('evaluation_updateMarkByAdmin') }}">
															<i class="fa fa-edit"></i>{% trans %}Edit a note{% endtrans %}</a></li>

														<li aria-haspopup="true"><a href="{{ path('absence_updateAbsenceByAdmin') }}">
															<i class="fa fa-edit"></i>{% trans %}Modify an absence time{% endtrans %}</a></li>
													</ul>
												</li>
											{% endif %}

											{% if is_granted('ROLE_PROVISEUR') or is_granted('ROLE_ADMIN') %}
												<li aria-haspopup="true">
													<a href="javascript:void(0);" class="sub-icon">
														<svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
															<path fill-rule="evenodd" d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566ZM9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z"/>
														</svg>

														<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" viewBox="0 0 0 0"></svg>
														{% trans %}Chef's space{% endtrans %}<i class="fa fa-angle-down horizontal-icon"></i>
													</a>
													<div class="horizontal-megamenu clearfix">
														<div class="container">
															<div class="mega-menubg">
																<div class="row">
																	<div class="col-lg-3 col-md-12 col-xs-12 link-list">
																		<ul>
																			<li><h3 class="fs-14 font-weight-bold">
																				
																				<i class="fa fa-gavel"></i>
																				{% trans %}Deliberations{% endtrans %}</h3>
																			</li>
																			{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROVISEUR') or is_granted('ROLE_CENSEUR') %}
																			<li aria-haspopup="true"><a  href="{{ path('deliberation_displayDeliberation') }}">
																				<i class="fa fa-check"></i>{% trans %}Deliberate{% endtrans %}</a></li>
																			{% endif %}
																			<li aria-haspopup="true"><a href="{{ path('deliberation_deliberationList') }}">
																				<i class="fa fa-file-pdf-o"></i>{% trans %}Lists of deliberations{% endtrans %}</a></li>

																			<li aria-haspopup="true"><a href="{{ path('delibeartion_studentProvisoryList') }}">
																				<i class="fa fa-file-pdf-o"></i>{% trans %}Provisional lists{% endtrans %}</a></li>
																		</ul>
																	</div>
																	<div class="col-lg-3 col-md-12 col-xs-12 link-list">
																		<ul>
																			{% if is_granted('ROLE_PROVISEUR') or is_granted('ROLE_ADMIN')%}
																			{# <li aria-haspopup="true"><a href="{{ path('registration_feesStatement') }}">
																				<i class="fa fa-check"></i> {% trans %}Validate a receipt{% endtrans %}</a></li> #}

																			<li aria-haspopup="true"><a href="{{ path('registration_feesStatement') }}">
																			<i class="fa fa-money"></i> {% trans %}Statements of expenses{% endtrans %}</a></li>

																			<li aria-haspopup="true"><a href="{{ path('teacher_displayAssumedDuty') }}"><i class="fa fa-file-pdf-o"></i>{% trans %}Testimony{% endtrans %}</a></li>
																			<li aria-haspopup="true"><a class="nav-link" data-toggle="" href="{{ path('verrou_displayLockOption') }}" data-parent=""><i class="fa fa-fw fa-lock"></i>{% trans %}Lock any changes{% endtrans %}</a></li>
																			{% endif %}
																		</ul>
																	</div>
																	<div class="col-lg-3 col-md-12 col-xs-12 link-list">
																		<ul>
																			<li><h3 class="fs-14 font-weight-bold">
																				<i class="fa fa-money"></i>{% trans %}Finance{% endtrans %}</h3></li>
																			<li aria-haspopup="true">
																				<a href="{{ path('etat_finance') }}" class="sub-icon">
																					<i class="fa fa-check-square-o"></i>
																					{% trans %}State finance{% endtrans %}
																				</a>
																			</li>
					
																			<li aria-haspopup="true">
																				<a href="{{ path('display_depense') }}" class="sub-icon"><i class="fa fa-usd"></i>
																					{% trans %}Expenses{% endtrans %}
																				</a>
																			</li>
			
																		</ul>
																	</div>

																	<div class="col-lg-3 col-md-12 col-xs-12 link-list">
																		<ul>
																			<li><h3 class="fs-14 font-weight-bold">
																				<i class="fa fa-codiepie"></i>{% trans %}Software License{% endtrans %}</h3></li>
																			<li aria-haspopup="true">
																				<a href="{{ path('activation_key') }}" class="sub-icon">
																					<i class="fa fa-calendar-check-o"></i>
																					{% trans %}Activate{% endtrans %}
																				</a>
																			</li>
			
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</li>
											{% endif %}
										{% endif %}

										{% if is_granted('ROLE_SURVEILLANT') %}
											<li aria-haspopup="true">
												<a href="{{ path('absence_absenceRecorder', {'id': app.user.teacher.id}) }}" >
													<svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
														<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
														<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
													</svg>


													<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" viewBox="0 0 0 0"></svg>
													{% trans %}Absence Recorder{% endtrans %} 
												</a>
											</li>
										{% endif %}

										{% if is_granted('ROLE_ENSEIGNANT') or is_granted('ROLE_CENSEUR') or is_granted('ROLE_SURVEILLANT') %}
											{% set currentTeacherId = currentUser ? (currentUser.teacher ? currentUser.teacher.id : 0 ) : 0 %}
											<li aria-haspopup="true">
												<a href="javascript:void(0);" class="sub-icon">
													<svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
														<path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
														<path d="M4.603 12.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.701 19.701 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.187-.012.395-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.065.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.716 5.716 0 0 1-.911-.95 11.642 11.642 0 0 0-1.997.406 11.311 11.311 0 0 1-1.021 1.51c-.29.35-.608.655-.926.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.27.27 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.647 12.647 0 0 1 1.01-.193 11.666 11.666 0 0 1-.51-.858 20.741 20.741 0 0 1-.5 1.05zm2.446.45c.15.162.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.881 3.881 0 0 0-.612-.053zM8.078 5.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z"/>
													</svg>


													<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" viewBox="0 0 0 0"></svg>

													{% trans %}Testimony{% endtrans %}<i class="fa fa-angle-down horizontal-icon"></i>
												</a>
												<ul class="sub-menu">
													<li aria-haspopup="true"><a href="{{ path('teacher_editTeacher', {'id': currentTeacherId, 'pe': 1}) }}">{% trans %}Start/Restart of service and Actual presence{% endtrans %}</a></li>
												</ul>
											</li>
											<li aria-haspopup="true">
												<a href="{{ path('evaluation_markRecorder', {'id': currentTeacherId}) }}" class="sub-icon">
													<svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
														<path d="M2.873 11.297V4.142H1.699L0 5.379v1.137l1.64-1.18h.06v5.961h1.174Zm3.213-5.09v-.063c0-.618.44-1.169 1.196-1.169.676 0 1.174.44 1.174 1.106 0 .624-.42 1.101-.807 1.526L4.99 10.553v.744h4.78v-.99H6.643v-.069L8.41 8.252c.65-.724 1.237-1.332 1.237-2.27C9.646 4.849 8.723 4 7.308 4c-1.573 0-2.36 1.064-2.36 2.15v.057h1.138Zm6.559 1.883h.786c.823 0 1.374.481 1.379 1.179.01.707-.55 1.216-1.421 1.21-.77-.005-1.326-.419-1.379-.953h-1.095c.042 1.053.938 1.918 2.464 1.918 1.478 0 2.642-.839 2.62-2.144-.02-1.143-.922-1.651-1.551-1.714v-.063c.535-.09 1.347-.66 1.326-1.678-.026-1.053-.933-1.855-2.359-1.845-1.5.005-2.317.88-2.348 1.898h1.116c.032-.498.498-.944 1.206-.944.703 0 1.206.435 1.206 1.07.005.64-.504 1.106-1.2 1.106h-.75v.96Z"/>
													</svg>

													<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" viewBox="0 0 0 0"></svg>

													{% trans %}Enter Notes{% endtrans %}
													{# <i class="fa fa-angle-down horizontal-icon"></i> #}
												</a>
												{# <ul class="sub-menu">
													<li aria-haspopup="true"><a href="{{ path('evaluation_markRecorder', {'id': currentTeacherId}) }}">{% trans %}Enter notes{% endtrans %}</a></li>
												</ul> #}
											</li>
										{% endif %}

										{% if  not is_granted('ROLE_ADMIN') %}
											{% if  not is_granted('ROLE_CENSEUR') %}
												{% if not is_granted('ROLE_SURVEILLANT')  %}
													{# <li aria-haspopup="true">
														<a href="javascript:void(0);" class="sub-icon">
															<svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
																<path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
															</svg>

															<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" viewBox="0 0 0 0"></svg>

															{% trans %}Progress{% endtrans %}<i class="fa fa-angle-down horizontal-icon"></i>
														</a>
														<ul class="sub-menu">
															<li aria-haspopup="true"><a href="{{ path('add_lesson_plain', {'idTeacher': currentTeacherId}) }}">
																<i class="fa fa-calendar"></i>
																{% trans %}Add Number of lessons planned{% endtrans %}</a>
															</li> 
															<li aria-haspopup="true"><a href="{{ path('display_lesson_plain') }}">
																<i class="fa fa-eye"></i>
																{% trans %}Display Number of lessons planned{% endtrans %}</a>
															</li> 

															
														</ul>
													</li> #}
												{% endif %}
											{% endif %}
										{% endif %}

										{% if is_granted('ROLE_INTENDANT') or is_granted('ROLE_SECRETAIRE')%}

												<li aria-haspopup="true">
													<a href="{{ path('registration_feesStatement') }}" class="sub-icon">
													<svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" width="16" height="16" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
														<path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
														<path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
														<path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
														<path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
													</svg>

													<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" viewBox="0 0 0 0"></svg>

													{% trans %}Registration management{% endtrans %} 
												</a>
												</li>
											
											{% if is_granted('ROLE_INTENDANT')%}
												<li aria-haspopup="true"><a href="{{ path('student_displayStudent') }}">
											
													<svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" width="16" height="16" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
															<path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
															<path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
															<path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
															<path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
														</svg>

													<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" viewBox="0 0 0 0"></svg>

													{% trans %}Students{% endtrans %}</a>
												</li>
											{% endif %}
										{% endif %}

									</ul>
								</nav>
								<!--Nav-->
							</div>
						</div>
					</div>
					<!--/Horizontal-main -->
				{% endif %}

				<!-- App-Content -->
				<div class="hor-content main-content">
					<div class="container">

						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title mb-0 text-primary">{% block subTitle %}{% endblock %}</h4>
							</div>
							<div class="page-rightheader">
								{% block infoMessage %}{% endblock %}
							</div>
						</div>
						<!--End Page header-->

						<!-- children body -->
						{% block body %}{% endblock %}
						<!-- End children body  -->

		<!-- End Page -->
		
				<!--Footer-->
				<footer class="footer">
					<div class="container">
						<div class="row align-items-center flex-row-reverse">
							<div class="col-md-12 col-sm-12" style="text-align:center !important;">
								Copyright © 2019 <a href="javascript:void(0);">www.freedomsftware.org</a>. From<a href="javascript:void(0);"> Freedom Software </a> All Rights Reserved <span class="fa fa-heart text-danger"></span> 
							</div>
						</div>
					</div>
				</footer>
				<!-- End Footer-->
			</div>
		</div>

		<!-- Back to top -->
		<a href="#top" id="back-to-top"><i class="fe fe-chevron-up"></i></a>

		<!-- Jquery js-->
		<script src="{{asset('build/custom2/js/jquery.min.js')}}"></script>

		<!-- Bootstrap5 js-->
		<script src="{{asset('build/custom2/plugins/bootstrap/popper.min.js')}}"></script>
		<script src="{{asset('build/custom2/plugins/bootstrap/js/bootstrap.min.js')}}"></script>

		<!--Othercharts js-->
		<script src="{{asset('build/custom2/plugins/othercharts/jquery.sparkline.min.js')}}"></script>

		<!-- Circle-progress js-->
		<script src="{{asset('build/custom2/js/circle-progress.min.js')}}"></script>

		<!-- Jquery-rating js-->
		<script src="{{asset('build/custom2/plugins/rating/jquery.rating-stars.js')}}"></script>

		<!--Horizontal-menu js-->
		<script src="{{asset('build/custom2/plugins/horizontal-menu/horizontal-menu.js')}}"></script>

		<!--INTERNAL Flot Charts js-->
		<script src="{{asset('build/custom2/plugins/flot/jquery.flot.js')}}"></script>
		<script src="{{asset('build/custom2/plugins/flot/jquery.flot.fillbetween.js')}}"></script>
		<script src="{{asset('build/custom2/plugins/flot/jquery.flot.pie.js')}}"></script>
		<script src="{{asset('build/custom2/js/dashboard.sampledata.js')}}"></script>
		<script src="{{asset('build/custom2/js/chart.flot.sampledata.js')}}"></script>

		<!-- INTERNAL Chart js -->
		<script src="{{asset('build/custom2/plugins/chart/chart.bundle.js')}}"></script>
		<script src="{{asset('build/custom2/plugins/chart/utils.js')}}"></script>

		<!-- INTERNAL Apexchart js -->
		<script src="{{asset('build/custom2/js/apexcharts.js')}}"></script>

		<!--INTERNAL Moment js-->
		<script src="{{asset('build/custom2/plugins/moment/moment.js')}}"></script>

		<!--mydatatables-->
		<script src="{{asset('build/custom2/vendor/datatables/jquery.dataTables.js')}}"></script>
		<script src="{{asset('build/custom2/vendor/datat
		ables/dataTables.bootstrap4.js')}}"></script>

		<!--Custom scripts for this page-->
		<script src="{{asset('build/custom2/vendor/sb-admin-datatables.min.js')}}"></script>
		
		<!-- INTERNAL Select2 js -->
		<script src="{{asset('build/custom2/plugins/select2/select2.full.min.js')}}"></script>
		<script src="{{asset('build/custom2/js/select2.js')}}"></script>

		<!-- Simplebar JS -->
		<script src="{{asset('build/custom2/plugins/simplebar/js/simplebar.min.js')}}"></script>

		<!-- Rounded bar chart js-->
		<script src="{{asset('build/custom2/js/rounded-barchart.js')}}"></script>

		<!-- Custom js-->
		<script src="{{asset('build/custom2/js/custom.js')}}"></script>

		<!-- Show Password -->
		<script src="{{asset('build/custom2/js/bootstrap-show-password.min.js')}}"></script>

		<!-- INTERNAL File-Uploads Js-->
		<script src="{{asset('build/custom2/plugins/fancyuploder/jquery.ui.widget.js')}}"></script>
        <script src="{{asset('build/custom2/plugins/fancyuploder/jquery.fileupload.js')}}"></script>
        <script src="{{asset('build/custom2/plugins/fancyuploder/jquery.iframe-transport.js')}}"></script>
        <script src="{{asset('build/custom2/plugins/fancyuploder/jquery.fancy-fileupload.js')}}"></script>
        <script src="{{asset('build/custom2/plugins/fancyuploder/fancy-uploader.js')}}"></script>

		<!-- INTERNAL File uploads js -->
        <script src="{{asset('build/custom2/plugins/fileupload/js/dropify.js')}}"></script>
		<script src="{{asset('build/custom2/js/filupload.js')}}"></script>

		<!--Form Validations js-->
		<script src="{{asset('build/custom2/js/form-vallidations.js')}}"></script>

		<!-- INTERNAL Data tables -->
		<script src="{{asset('build/custom2/plugins/datatables/DataTables/js/jquery.dataTables.js')}}"></script>
		<script src="{{asset('build/custom2/plugins/datatables/DataTables/js/dataTables.bootstrap5.js')}}"></script>
		<script src="{{asset('build/custom2/plugins/datatables/Buttons/js/dataTables.buttons.min.js')}}"></script>
		<script src="{{asset('build/custom2/plugins/datatables/Buttons/js/buttons.bootstrap4.min.js')}}"></script>
		<script src="{{asset('build/custom2/plugins/datatables/JSZip/jszip.min.js')}}"></script>
		<script src="{{asset('build/custom2/plugins/datatables/pdfmake/pdfmake.min.js')}}"></script>
		<script src="{{asset('build/custom2/plugins/datatables/pdfmake/vfs_fonts.js')}}"></script>
		<script src="{{asset('build/custom2/plugins/datatables/Buttons/js/buttons.html5.min.js')}}"></script>
		<script src="{{asset('build/custom2/plugins/datatables/Buttons/js/buttons.print.min.js')}}"></script>
		<script src="{{asset('build/custom2/plugins/datatables/Buttons/js/buttons.colVis.min.js')}}"></script>
		<script src="{{asset('build/custom2/plugins/datatables/Responsive/js/dataTables.responsive.min.js')}}"></script>
		<script src="{{asset('build/custom2/plugins/datatables/Responsive/js/responsive.bootstrap5.min.js')}}"></script>
		<script src="{{asset('build/custom2/js/datatables.js')}}"></script>

		{# Script qui efface les messages d'information après 5 secondes #}
		<script>
			setTimeout(() => {
				const infoMessages = document.querySelectorAll(".infoMessage");
				for (let index = 0; index < infoMessages.length; index++) {
					infoMessages[index].style.display = "none";
				}
			}, 20000);
		</script>

		
		{# NOTIFICATIONS AJOUT URILISATEUR #}
		{% if notificationUser is defined %}
			<!-- NOTIFICATIONS js-->
			<script src="{{asset('build/custom2/assets/js/notifications.js')}}"></script>

			<!-- INTERNAL Notifications js -->
			<script src="{{asset('build/custom2/assets/plugins/notify/js/rainbow.js')}}"></script>
			<script src="{{asset('build/custom2/assets/plugins/notify/js/sample.js')}}"></script>
			{# <script src="{{asset('build/custom2/assets/plugins/notify/js/jquery.growl.js')}}"></script> #}
			<script src="{{asset('build/custom2/assets/plugins/notify/js/notifIt.js')}}"></script>


			{% if notificationUser == true %}
				{% set notificationSuccess = "" %}

				{% for message in app.flashes('info') %}
					{% set notificationSuccess = message %}
				{% endfor %}

				<script>
					window.onload = () => {
					notif({
					msg: "<b>{{ notificationSuccess }}</b>",
					type: "success",
					position: "right",
					width: 500,
					height: 60,
					autohide: false
					});
					}
				</script>
			{% endif %}
		{% endif %}

		{# NOTIFICATIONS D'ENREGISTREMENT #}
		{% if notification is defined %}
			<!-- NOTIFICATIONS js-->
			<script src="{{asset('build/custom2/assets/js/notifications.js')}}"></script>

			<!-- INTERNAL Notifications js -->
			<script src="{{asset('build/custom2/assets/plugins/notify/js/rainbow.js')}}"></script>
			<script src="{{asset('build/custom2/assets/plugins/notify/js/sample.js')}}"></script>
			{# <script src="{{asset('build/custom2/assets/plugins/notify/js/jquery.growl.js')}}"></script> #}
			<script src="{{asset('build/custom2/assets/plugins/notify/js/notifIt.js')}}"></script>


			{% if notification == true %}
				{% set notificationSuccess = "" %}

				{% for message in app.flashes('info') %}
					{% set notificationSuccess = message %}
				{% endfor %}

				<script>
					window.onload = () => {
					notif({
					msg: "<b>{{ notificationSuccess }}</b>",
					type: "success",
					position: "right",
					width: 500,
					height: 60,
					autohide: true
					});
					}
				</script>
			{% endif %}
		{% endif %}

		{# NOTIFICATIONS DE MISE A JOUR #}
		{% if notificationUpdate is defined %}
			<!-- NOTIFICATIONS js-->
			<script src="{{asset('build/custom2/assets/js/notifications.js')}}"></script>

			<!-- INTERNAL Notifications js -->
			<script src="{{asset('build/custom2/assets/plugins/notify/js/rainbow.js')}}"></script>
			<script src="{{asset('build/custom2/assets/plugins/notify/js/sample.js')}}"></script>
			{# <script src="{{asset('build/custom2/assets/plugins/notify/js/jquery.growl.js')}}"></script> #}
			<script src="{{asset('build/custom2/assets/plugins/notify/js/notifIt.js')}}"></script>


			{% if notificationUpdate == true %}
				{% set notificationUpdat = "" %}

				{% for message in app.flashes('info') %}
					{% set notificationUpdat = message %}
				{% endfor %}

				<script>
					window.onload = () => {
					notif({msg: "<b>{{ notificationUpdat }}</b>", 
					type: "info", 
					position: "left"});
					}
				</script>
			{% endif %}
		{% endif %}

		{# NOTIFICATIONS DE SUPPRESION #}
		{% if notificationDelete is defined %}
			<!-- NOTIFICATIONS js-->
			<script src="{{asset('build/custom2/assets/js/notifications.js')}}"></script>

			<!-- INTERNAL Notifications js -->
			<script src="{{asset('build/custom2/assets/plugins/notify/js/rainbow.js')}}"></script>
			<script src="{{asset('build/custom2/assets/plugins/notify/js/sample.js')}}"></script>
			{# <script src="{{asset('build/custom2/assets/plugins/notify/js/jquery.growl.js')}}"></script> #}
			<script src="{{asset('build/custom2/assets/plugins/notify/js/notifIt.js')}}"></script>


			{% if notificationDelete == true %}
				{% set notificationDelet = "" %}

				{% for message in app.flashes('info') %}
					{% set notificationDelet = message %}
				{% endfor %}

				<script>
					window.onload = () => {
						notif({msg: "<b>{{ notificationDelet }}</b>", 
						type: "warning", 
						position: "center"});
					}
				</script>
			{% endif %}
		{% endif %}

		{# NOTIFICATIONS D'ERREUR #}
		{% if notificationError is defined %}
			<!-- NOTIFICATIONS js-->
			<script src="{{asset('build/custom2/assets/js/notifications.js')}}"></script>

			<!-- INTERNAL Notifications js -->
			<script src="{{asset('build/custom2/assets/plugins/notify/js/rainbow.js')}}"></script>
			<script src="{{asset('build/custom2/assets/plugins/notify/js/sample.js')}}"></script>
			{# <script src="{{asset('build/custom2/assets/plugins/notify/js/jquery.growl.js')}}"></script> #}
			<script src="{{asset('build/custom2/assets/plugins/notify/js/notifIt.js')}}"></script>


			{% if notificationError == true %}
				{% set notificationErro = "" %}

				{% for message in app.flashes('info') %}
					{% set notificationErro = message %}
				{% endfor %}

				<script>
					window.onload = () => {
						notif({
						msg: "<b>{{ notificationErro }}</b>",
						type: "error",
						position: "center",
						width: 700,
						height: 60
						});
						}
				</script>
			{% endif %}
		{% endif %}

		{# NOTIFICATIONS D'ENREGISTREMENT D'UN UTILISATEUR #}
		{% if notificationSaveUser is defined %}
			<!-- NOTIFICATIONS js-->
			<script src="{{asset('build/custom2/assets/js/notifications.js')}}"></script>

			<!-- INTERNAL Notifications js -->
			<script src="{{asset('build/custom2/assets/plugins/notify/js/rainbow.js')}}"></script>
			<script src="{{asset('build/custom2/assets/plugins/notify/js/sample.js')}}"></script>
			{# <script src="{{asset('build/custom2/assets/plugins/notify/js/jquery.growl.js')}}"></script> #}
			<script src="{{asset('build/custom2/assets/plugins/notify/js/notifIt.js')}}"></script>


			{% if notificationSaveUser == true %}
				{% set notificationSaveUse = "" %}

				{% for message in app.flashes('info') %}
					{% set notificationSaveUse = message %}
				{% endfor %}

				<script>
					window.onload = () => {
							notif({
							msg: "<b>{{ notificationSaveUse }}</b>",
							type: "success",
							position: "center",
							width: 500,
							height: 60,
							autohide: false
							});
							}
				</script>
			{% endif %}
		{% endif %}

		{# NOTIFICATIONS REINITIALISATION MOT DE PASSE #}
		{% if notificationPassword is defined %}
			<!-- NOTIFICATIONS js-->
			<script src="{{asset('build/custom2/assets/js/notifications.js')}}"></script>

			<!-- INTERNAL Notifications js -->
			<script src="{{asset('build/custom2/assets/plugins/notify/js/rainbow.js')}}"></script>
			<script src="{{asset('build/custom2/assets/plugins/notify/js/sample.js')}}"></script>
			{# <script src="{{asset('build/custom2/assets/plugins/notify/js/jquery.growl.js')}}"></script> #}
			<script src="{{asset('build/custom2/assets/plugins/notify/js/notifIt.js')}}"></script>


			{% if notificationPassword == true %}
				{% set notificationPasswor = "" %}

				{% for message in app.flashes('info') %}
					{% set notificationPasswor = message %}
				{% endfor %}

				<script>
					window.onload = () => {
						notif({
						msg: "<b>{{ notificationPasswor }}</b>",
						type: "info",
						position: "center",
						width: 500,
						height: 60,
						autohide: false
						});
					}
				</script>
			{% endif %}
		{% endif %}

		{% block javascripts %}{% endblock %}
	</body>
</html>