{% extends 'base.html.twig' %}

{% block title %}
    {% if id != 0 %}
        {% trans %}Edit {% endtrans %}
        {% else %}
        {% trans %}Add an{% endtrans %}
    {% endif %}
    administrator
{% endblock %}

{# {% block infoMessage %}
    {% include "includes/_info_message.html.twig" %}
{% endblock %} #}

{% block body %}
<!-- App-Content -->
	<div class="hor-content main-content">
		<div class="container">
        
            <!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title mb-0 text-primary">
                        {% if id != 0 %}
                            <i class="fe fe-edit me-2"></i> {% trans %}Update administrator{% endtrans %}
                        {% else %}
                            <i class="fe fe-plus-circle me-2"></i>{% trans %}Add an administrator{% endtrans %}
                        {% endif %}
                    </h4>
                </div>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROVISEUR') or is_granted ('ROLE_SUPER_ADMIN') %}
                    <div class="page-rightheader">
                        <div class="btn-list">
                            <a href="{{ path('list_administrators') }}" class="btn btn-outline-primary btn-medium w-100 br-7">
                                <i class="fa fa-list"></i>
                                {% trans %}Display administrators registered{% endtrans %}
                            </a>
                        </div>
                    </div>
                {% endif %}
                
            </div>
            <!--End Page header-->
        
                {% if id == 0 %}
                    <div class="card border-primary">
                    {% else %}
                    <div class="card border-danger">
                {% endif %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(formAdmin, {'attr': {'class':'row g-4 needs-validation', 'novalidate':""}}) }}
                                <div class="row mt-3">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ form_label(formAdmin.fullName) }}
                                            {{ form_widget(formAdmin.fullName, {'attr': {'class': 'form-control form-control-sm'}}) }}
                                            {{ form_errors(formAdmin.fullName) }}
                                            <div class="invalid-feedback">
                                                {% trans %}This field is required !{% endtrans %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-5">
                                        {% if id == 0 %}
                                            <button type="submit" class="btn btn-outline-primary btn-medium w-100 br-7" name="addTeacher">
                                                <i class="fa fa-save me-2"></i>
                                                {% trans %}Save{% endtrans %}
                                            </button>
                                        {% else %}
                                            <button type="submit" class="btn btn-outline-primary btn-medium w-100 br-7" name="editTeacher">
                                                <i class="fa fa-save me-2"></i>
                                                {% trans %}Save changes{% endtrans %}
                                            </button>
                                        {% endif %}
                                    </div>
                                    
                                    <div class="col-md-2">
                                    </div>
                                </div>

                            {{ form_end(formAdmin) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
