{% extends 'base.html.twig' %}

{% block title %}{% trans %}Enter hours of absence{% endtrans %}{% endblock %}

{% block subTitle %}
    {% trans %}MANAGEMENT OF HOURS OF ABSENCE{% endtrans %}
    {% if is_granted ('ROLE_ADMIN') or is_granted ('ROLE_SUPER_ADMIN') %}
        {% trans %}DE{% endtrans %} [ {{teacher.fullName }} ]
    {% endif %}
{% endblock %}
{% block infoMessage %}
    {% include "includes/_info_message.html.twig" %}
{% endblock %}

{% block currentUser %}
    {{teacher.fullName }}
{% endblock %}

{% block stylesheets %}
    <style>
        th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}
    </style>
{% endblock %}
{% block body %}
<!-- App-Content -->
	<div class="hor-content main-content">
		<div class="container">
        
            <!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title mb-0 text-primary"><i class="fe fe-watch"></i> 
                        {% trans %}Management of Teacher's Absence Hours {% endtrans %}
                    </h4>
                </div>
                <div class="page-rightheader">
                    <div class="btn-list">
                        
                    </div>
                </div>
            </div>
            <!--End Page header-->


            <!-- Row -->
				<div class="row mt-4">
                    <div class="col-lg-12">
                        <div class="expanel expanel-primary border-primary">
                            <div class="expanel-heading">
                                <h3 class="expanel-title">{% trans %}Choose term{% endtrans %}</h3>
                            </div>
                            <div class="expanel-body">
                                
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <form action="{{ path('absence_absenceTeacherRecorder', {'slug': teacher.slug}) }}" method="post">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <select name="term" id="term" class="form-control select2 custom-select" data-placeholder="Choisir une période" required="required">
                                                                <option label="Choisir une période">
                                                                    {% trans %}Choose a period
                                                                    {% endtrans %}
                                                                </option>
                                                                {% for term in terms %}
                                                                    {% if term.term != annualTerm %}
                                                                        <option value="{{ term.id }}" 
                                                                        {% if selectedTerm is defined %}
                                                                            {% if selectedTerm.id == term.id %} 
                                                                                selected 
                                                                            {% endif %}
                                                                        {% endif %}>
                                                                            {% trans %}Term{% endtrans %} {{ term.term }}
                                                                        </option>
                                                                    {% endif %}
                                                                {% endfor %}

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <button class="btn btn-outline-primary" type="submit" name="displayAbsenceRecorder">
                                                                <i class="fa fa-eye"></i>
                                                                {% trans %}Display{% endtrans %}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="col-md-4">
                                            {% if selectedTerm is defined %}
                                                {# Si les absences sont déjà enregistrées #}
                                                {% if absences|length > 0 %}
                                                    {# affichage ligne de delete all absences #}
                                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROVISEUR') or is_granted('ROLE_SURVEILLANT_GENERAL') or is_granted ('ROLE_SUPER_ADMIN') %}
                                                        {% if mySession.get('verrou').verrou is not null and mySession.get('verrou').verrou == 0 %}
                                                            <form action="{{ path('absence_absenceTeacherRecorder', {'slug': teacher.slug}) }}" method="post" onsubmit="return confirm('{% trans %}Do you want to delete the teachers hours of absence {% endtrans %} --- {% trans %}term{% endtrans %} N°{{ selectedTerm.term }} ?');">
                                                                <input type="hidden" name="term" value="{{ selectedTerm.id }}">
                                                                <div class="form-group">
                                                                    <button class="btn btn-outline-danger btn-medium w-100 br-7" type="submit" name="removeAllAbsences">
                                                                        <i class="fa fa-eraser"></i>
                                                                        {% trans %}Delete all these hours of absence{% endtrans %}
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        {% endif %}
                                                    {% endif %}
                                                    {# fin affichage ligne de delete all absences #}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>		
			<!--End Row -->
            {% if selectedTerm is defined %}
                <div class="card border-primary">
                    <div class="card-header">
                        {# choix du trimestre et classe à saisir les absences #}
                        
                            {# choix du trimestre et classe à saisir les absences #}
                            {% if selectedTerm is defined %}
                                {# affichage du header contenant les information sur la saisie en cours #}
                                
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary  mt-1 mb-1 me-3">
                                        <span>{% trans %}Term{% endtrans %} N°</span>
                                        <span class="badge bg-white text-dark rounded-pill">{{ selectedTerm.term  }}</span>
                                    </button>
                                </div>
                                <div class="col-md-4 text-center">
                                    <button type="button" class="btn btn-primary  mt-1 mb-1 me-3">
                                        <span>{% trans %}Effective{% endtrans %}</span>
                                        <span class="badge bg-white text-dark rounded-pill">{{ teachers|length }}</span>
                                    </button>
                                </div>
                                
                                
                                <div class="col-md-4 text-right">
                                    <a href="{{ path('printAbsenceTeacherReport') }}" type="button" class="btn btn-outline-primary  mt-1 mb-1 me-3" target="_blank">
                                        <i class="fe fe-printer me-2"></i> {% trans %}Print{% endtrans %}
                                    </a>
                                </div>
                                
                                {# fin affichage du header contenant les information sur la saisie en cours #}
                            {% endif %}
                    </div>
                    <div class="card-body ">
                        
                            {# affichage de la liste des elèves #}
                            {% if absenceToUpdate == null %}
                                {% if absences|length > 0 %}
                                    {# affichage de la liste des elèves si les absences existent déjà #}
                                    <div class="row mb-5">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered text-nowrap table-striped" id="example2">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-bottom-0 indigo-gradient">{% trans %}N°{% endtrans %}</th>
                                                            <th class="border-bottom-0 green-gradient">{% trans %}Full name{% endtrans %}</th>
                                                            <th class="border-bottom-0 orange-gradient">{% trans %}Hours away{% endtrans %}</th>
                                                            {% if is_granted('ROLE_ADMIN') or is_granted ('ROLE_SUPER_ADMIN') %}
                                                                <th class="border-bottom-0 blue-gradient">{% trans %}Entered by{% endtrans %}</th>
                                                                <th class="border-bottom-0 blue-gradient">{% trans %}Update by{% endtrans %}</th>
                                                            {% endif %}
                                                            <th class="border-bottom-0 blue-gradient">{% trans %}Actions{% endtrans %}</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                    
                                                        <th class="border-bottom-0 indigo-gradient">{% trans %}N°{% endtrans %}</th>
                                                        <th class="border-bottom-0 green-gradient">{% trans %}Full name{% endtrans %}</th>
                                                        <th class="border-bottom-0 orange-gradient">{% trans %}Hours away{% endtrans %}</th>
                                                        {% if is_granted('ROLE_ADMIN') or is_granted ('ROLE_SUPER_ADMIN') %}
                                                            <th class="border-bottom-0 blue-gradient">{% trans %}Entered by{% endtrans %}</th>
                                                            <th class="border-bottom-0 blue-gradient">{% trans %}Update by{% endtrans %}</th>
                                                        {% endif %}
                                                        <th class="border-bottom-0 blue-gradient">{% trans %}Actions{% endtrans %}</th>
                                                    </tfoot>
                                                
                                                {% set i = 1 %}
                                                {% for absence in absences %}
                                                    <tr class="table-row">
                                                        <td style="vertical-align: middle !important; text-align: center !important;">{{ i }}</td>
                                                        <td style="vertical-align: middle !important; text-align: left !important;">
                                                            {{ absence.teacher.fullName }}
                                                        </td>
                                                        <td>
                                                            <input type="text" name="absence{{i}}"   readonly="readonly" value="{{ absence.absenceTeacher }}" class="form-control" >
                                                        </td>

                                                        {% if is_granted('ROLE_ADMIN') or is_granted ('ROLE_SUPER_ADMIN') %}
                                                            <td class="border-bottom-0 blue-gradient" style="vertical-align: middle !important; text-align: center !important;">{{ absence.createdBy.fullName }} <br>
                                                                {% trans %}At{% endtrans %} : {{ absence.createdAt|date('d/m/Y') }} - {{ absence.createdAt|date('H:i:s') }}
                                                            </td>
                                                            <td class="border-bottom-0 blue-gradient" style="vertical-align: middle !important; text-align: center !important;">{{ absence.updatedBy ? absence.updatedBy.fullName : "//" }} <br>
                                                                {% trans %}At{% endtrans %} : {{ absence.updatedBy ? absence.updatedAt|date('d/m/Y') : "//"}} - {{ absence.updatedBy ? absence.updatedAt|date('H:i:s'): "//"}}
                                                            </td>
                                                        {% endif %}


                                                        {% if mySession.get('verrou').verrou is not null and mySession.get('verrou').verrou == 0 %}
                                                        <td style="vertical-align: middle !important; text-align: center !important;">
                                                            <form action="{{ path('absence_absenceTeacherRecorder', {'slug': teacher.slug}) }}" method="post">
                                                                <input type="hidden" name="term" value="{{ selectedTerm.id }}">
                                                                
                                                                <input type="hidden" name="absence" value="{{ absence.id }}">

                                                                <button type="submit" class="btn btn-outline-primary" data-bs-toggle="tooltip" title="Modifier les Hours away de {{ absence.teacher.fullName }}" name="absenceToUpdate">
                                                                    <i class="fa fa-pencil-square-o"></i>
                                                                </button>
                                                            </form>
                                                        </td>
                                                        {% endif %}
                                                    </tr>
                                                {% set i = i + 1 %}
                                                {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    {# fin affichage de la liste des elèves si les absences existent déjà #}
                                {% else %}
                                    {# affichage de la liste des elèves si les absences n'existent pas encore #}
                                    {% if not is_granted('ROLE_ADMIN') or is_granted ('ROLE_SUPER_ADMIN') %}
                                        <div class="row mb-5">
                                            <div class="col-md-12">
                                                    {% if mySession.get('verrou').verrou is not null and mySession.get('verrou').verrou == 0 %}
                                                    <form action="{{ path('absence_absenceTeacherRecorder', {'slug': teacher.slug}) }}" method="POST" onreset="return confirm('Do you want to reset all typed absences ?')">   
                                                        <input type="hidden" name="term" value="{{ selectedTerm.id }}">
                                                        <input type="hidden" name="numberOfTeachers" value="{{ teachers|length }}">
                                                        <div class="row mb-5">
                                                            <div class="col-md-12">
                                                                <table border="1" class="table table-striped text-left" >
                                                                    {% set i = 1 %}
                                                                    {% for teacher in teachers %}
                                                                        <tr class="table-row">
                                                                            <td>
                                                                                <input type="hidden" name="teacher{{i}}" value="{{teacher.id}}">
                                                                            </td>
                                                                            <td >
                                                                                {{ teacher.fullName }}
                                                                            </td>
                                                                            <td>
                                                                                <input type="number" name="absence{{i}}" required="required" min="0" max="500" step="1" class="form-control" value="0"> 
                                                                            </td>
                                                                        </tr>
                                                                    {% set i = i+1 %}
                                                                    {% endfor %}
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <input type="reset" class="btn btn-primary btn-medium w-100 br-7" value="Cancel">
                                                            </div>
                                                            <div class="col-md-6">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <button type="submit" class="btn btn-outline-primary btn-medium w-100 br-7" name="saveAbsence">
                                                                    <i class="fa fa-save"></i>
                                                                    {% trans %}Save{% endtrans %}
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    {% else %}
                                                        {% trans %}Access denied. The entry of hours of absence for this quarter's account is locked.{% endtrans %}
                                                    {% endif %}
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="row">
                                            <div class="col-md-12 text-center p-5">
                                                {% trans %}These hours of absence are not yet entered by the supervisor{% endtrans %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {# fin affichage de la liste des elèves si les absences n'existent pas encore #}
                                {% endif %}
                            {% else %}
                                    {# affichage du formulaire de modification d'une absence #}
                                    <div class="row mb-5">
                                        <div class="col-md-12">
                                            {% if mySession.get('verrou').verrou is not null and mySession.get('verrou').verrou == 0 %}
                                            <form action="{{ path('absence_absenceTeacherRecorder', {'slug': teacher.slug}) }}" method="post"> 
                                                <input type="hidden" name="term" value="{{ selectedTerm.id }}">
                                                <input type="hidden" name="absenceToUpdateId" value="{{ absenceToUpdate.id }}">
                                                <div class="row p-5">
                                                    <div class="col-md-6">
                                                        {{ absenceToUpdate.teacher.fullName }}
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input type="number" name="updatedAbsence" required="required" min="0"  step="1" value="{{ absenceToUpdate.absenceTeacher }}" class="form-control">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button type="submit" class="btn btn-outline-primary btn-medium w-100 br-7" name="updateAbsence">
                                                            {% trans %}Save Changes{% endtrans %}
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {# fin affichage du formulaire de modification d'une absence #}
                            {% endif %}
                            {# fin affichage de la liste des elèves #}
                        
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}