{% extends 'base.html.twig' %}

{% block title %}{% trans %}Change password for : {% endtrans %} {{ fullName }}{% endblock %}

{% block subTitle %}
    {% trans %}UPDATING PASSWORD{% endtrans %}
{% endblock %}

{% block body %}
    {% for message in app.flashes('info') %}
        <script>
            alert("{{ message }}");
        </script>
    {% endfor %}
<!-- App-Content -->
<div class="hor-content main-content">
    <div class="container">
    
        <!--Page header-->
        <div class="page-header">
            <div class="page-leftheader">
                <h4 class="page-title mb-0 text-primary"></h4>
            </div>
            <div class="page-rightheader">
                <div class="btn-list">
                    
                </div>
            </div>
        </div>
        <!--End Page header-->
        
        <div class="card border-primary">
            <div class="card-header text-center header-perso h3" >
                <i class="fa fa-key me-2"></i> 
                {% if id %}
                    {% trans %}Change password for {% endtrans %} : <span class="badge bg-danger"> {{ fullName }}</span>
                    {% else %}
                    {% trans %}Change password of : {% endtrans %} <h2  class="text-secondary mt-3 ml-3"> <span class="badge bg-danger mt-3 ml-3">{{ fullName }}</span></h2>
                {% endif %}
                
                
            </div>
            <div class="card-body body-perso">
                {{ form_start(userForm) }}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form_row(userForm.password) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form_row(userForm.confirmPassword) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="color: #fff;">
                                        {% trans %}Save{% endtrans %}
                                    </label>
                                    <button type="submit" class="btn btn-outline-primary btn-block form-control" name="changePassword">
                                        <i class="fa fa-save me-2"></i> {% trans %}Save{% endtrans %}
                                    </button>
                                </div>
                            </div>
                        </div>
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}